.yellowBg,
.whiteBg {
  min-height: 60vh;
  margin: 0%;
}

.yellowBg {
  background-color: #fffbf0;
}

.whiteBg {
  background-color: white;
}

.yellowBg p,
.whiteBg p {
  margin-top: 0;
  padding-top: 3%;
}

.yellowBg h1,
.yellowBg h2 {
  margin-top: 0 !important;
  padding-top: 2%;
}
