#home {
  background-color: #fffbf0;
  height: 100vh;
}
#image {
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: center;
}
.we {
  color: #195028;
  font-size: 100px;
  vertical-align: middle;
  margin-top: 0;
}
