#navbar {
  background-color: #195028;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
}

.nav-link,
.nav-link-active {
  font-family: Poppins;
  font-size: 30px;
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.nav-link-active {
  background-color: #aec359;
  border-radius: 20px 20px 20px 20px;
}

#logo-image {
  width: 60px;
  height: 60px;
  float: left;
}

#logo-text {
  font-family: Poppins;
  font-size: 30px;
  color: white;
  float: left;
}