#navbar {
  background-color: #195028;
  height: 75px;
}

.nav-link,
.nav-link-active {
  vertical-align:text-bottom;
  font-family: Poppins;
  font-size: 30px;
  color: white;
}

.nav-link-active {
  background-color: #aec359;
  border-radius: 20px;
}
#image{
  height: 100px;
}

